---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="page">
    <h1>About</h1>
    <p>Well, hello there</p>
    <p>Out of all the 13 trillion and counting pages uploaded on the internet, you have come across the most
        annoying, hyperactive and picky brogrammer to ever lay hands on a computer. This, however was your choice
        to come here, so I must say
    </p>
    <br>
    <h3>Thank you so much</h3>
    <p>To be honest, I would never even dream of somebody even laying their own eyes on this text so thank you</p>
    <br>
    <p>Ok, now that the corny part is over, let's talk buisness</p>
    <h2>Who am I?</h2>
    <p>I don't even know where to start with that question. The only thing I know is I am a low level, and sometimes
        even a hardware nerd. I really have nothing else to say about that. I also like photography (the site's coming)
        soon. It's another really good hobby of mine and I truely think it's another thing AI can't replace. Speaking of AI...
    </p>
    <h2>My very controversial opinion on AI</h2>
    <p>I am about to get killed by a whole community of people but I need to say this and really with emphasis</p>
    <strong>I believe AI generated media of any sort, from art, music even to coding is slop and I really don't like it</strong>
    <p>I'm not going to go over all of my opinions so just wait until I write an article on it so just hold on. Now onto the part I've been waiting the most on</p>
    <h2>What I've been doing</h2>
    <p>It's no mystery I'm doing a lot of stuff. Especially being in the middle of school and knowing about 80% of the stuff that I get taught is 20% of the stuff I already know (yes, I have watched Vsauce's video on the
        Zipf mystery). So when I bored, I like coding. And to be honest, right now I'm on a roll. My main project I've been working on is tinyff, an idea I had that I will eventually make another
        post on. I started reading the PNG spec on W3C which really encouraged me to try to make a codec library for every single media format.
        When I'm not doing that I'm either reading <a src="https://www.amazon.com.au/Build-Your-Own-Computer-Scratch-ebook/dp/B07R1ZMTSQ">Build your own computer from Scratch by Richard whipple</a> (The best book I've
        ever read on making a CPU and a computer in general), <a src="https://littleosbook.github.io/">The little OS book by Erik Helin and Adam Renberg</a> (another great in depth book on OS dev) or reading <a src="https://job-boards.greenhouse.io/cloudflare/jobs/7606636?gh_jid=7606636">my dream job application</a>
         (which I know is a bit crazy, considering I am under 18 and not even anywhere CLOSE to getting a job lol).
        Apart from that I am just enjoying life, working on 3 assignments at once, or considering if I should've picked up law as a study I should do. Who knows, one day I might die in a pit, but atleast I enjoyed my way there.
    </p>
    <p> ~ tazy</p>
    
  </div>
</BaseLayout>

<style>
  .page {
    max-width: 760px;
    margin: 0 auto;
  }
</style>