---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="tazy.dev">
    <div class="index-content framed">
        <h1 id="hello-there">Salutations</h1>
        <p>Well, hello there</p>
        <p>Out of all the 13 trillion and counting pages uploaded on the internet, you have come across the most
            annoying, hyperactive and picky brogrammer to ever lay hands on a computer. This, however was your choice
            to come here, so I must say
        </p>
        <h3>Thank you so much</h3>
        <p>To be honest, I would never even dream of somebody even laying their own eyes on this text so thank you</p>
        <p>Ok, now that the corny part is over, let's talk buisness</p>
        <h2>Who am I?</h2>
        <p>I don't even know where to start with that question. The only thing I know is I am a low level, and sometimes
            even a hardware nerd. I really have nothing else to say about that. I also like photography (the site's coming)
            soon. It's another really good hobby of mine and I truely think it's another thing AI can't replace. 
            
        </p>
        <p>To read more about me go to my <a href="https://tazy.dev/about">about page</a>. Thanks!</p>
    </div>

    <div class="posts">
        {posts.map((post) => <PostCard post={post} />)}
    </div>
</BaseLayout>
