---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="tazy.dev">
    <div class="index-content framed">
        <h1 id="hello-there">Salutations</h1>
        <p><strong>Well, hello there</strong></p>
        <p>
            Out of all the <em>13 trillion and counting</em> pages uploaded on the internet, you have come across the most
            <mark>annoying, hyperactive and picky brogrammer</mark> to ever lay hands on a computer. This, however, was your choice
            to come here, so I must say
        </p>
        <h3>Thank you so much</h3>
        <p><strong>To be honest</strong>, I would never even dream of somebody even laying their own eyes on this text so thank you</p>
        <p><em>Ok, now that the corny part is over, let's talk buisness</em></p>
        <h2>Who am I?</h2>
        <p>
            I don't even know where to start with that question. The only thing I know is I am a <strong>low level</strong>, 
            and sometimes even a <strong>hardware nerd</strong>. I really have nothing else to say about that. 
            I also like <u>photography</u> (the site's coming) soon. It's another really good hobby of mine and I 
            <em>truely think it's another thing AI can't replace</em>.
        </p>
        <p>To read more about me go to my <a href="https://tazy.dev/about" class="link-highlight">about page</a>. Thanks!</p>
    </div>

    <div class="posts">
        {posts.map((post) => <PostCard post={post} />)}
    </div>
</BaseLayout>

<style>
.index-content {
    max-width: 760px;
    margin: 0 auto;
    line-height: 1.6;
}
.index-content p {
    margin-bottom: 1.2em;
}
.index-content mark {
    background-color: var(--accent);
    text-color: var(--background)
    padding: 0 2px;
}
.index-content a.link-highlight {
    color: var(--accent);
    font-weight: bold;
    text-decoration: underline;
}
</style>
